@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local('Montserrat'), url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}